<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
						http://www.springframework.org/schema/beans/spring-beans.xsd


						http://www.springframework.org/schema/context
						http://www.springframework.org/schema/context/spring-context.xsd">

    <!-- 引入 game-db 主资源中的数据源与 redis 定义，提供 sqlSessionTemplate 等基础 Bean -->
    <import resource="classpath:bean/db_applicationContext_datasource.xml"/>
    <import resource="classpath:bean/db-applicationContext-redis.xml"/>

    <context:annotation-config />
    <context:component-scan base-package="com.snowcattle.game">
        <!-- 测试 XML 会加载 db 相关 xml，排除 JavaConfig 防止 mapper 重复扫描 -->
        <context:exclude-filter type="assignable" expression="com.snowcattle.game.db.service.config.DbBootConfiguration"/>
    </context:component-scan>
    <bean class="com.snowcattle.game.common.util.BeanUtil"/>

    <bean id="dbConfig" class="com.snowcattle.game.db.service.config.DbConfig">
        <property name="dbId" value="1"/>
        <property name="asyncDbOperationSaveWorkerSize" value="1"/>
        <property name="asyncDbOperationSelectWorkerSize" value="1"/>
        <property name="asyncOperationPackageName" value="com.snowcattle.game.db"/>
    </bean>
    <bean id="transactionService" class="com.redis.transaction.service.TransactionServiceImpl"/>

</beans>